@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

:root {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // border: 1px dashed blue;
}

body {
  font: 400 $text-medium / 1.3 "Public Sans", sans-serif;
  color: $dark-blue;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
}

// Utility classes
.flex {
  display: flex !important;
}

.content-center {
  justify-content: center !important;
}

.content-between {
  justify-content: space-between !important;
}

.items-center {
  align-items: center !important;
}

// Visibility
.hide-for-mobile {
  @include if-size-is-less-than("md") {
    display: none;
  }
}

.hide-for-desktop {
  @include if-size-is-bigger-than("lg") {
    display: none;
  }
}
