.header {
  position: relative;
  z-index: 20;
  background-color: white;

  &__nav {
    height: 8rem;
    margin: 0 auto; // only in desktop
    max-width: $container; // only in desktop
    padding: 0 2.4rem;
  }

  &__menu {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;

    > span {
      display: block;
      width: 2.4rem;
      height: 1px;
      background: $dark-blue;
      transition: background 0.2s;
      &:not(:last-child) {
        margin-bottom: 5px;
      }
      transition: all 0.2s ease-in-out;
      transform-origin: 3px 1px;
    }

    &:focus,
    &:active {
      > span {
        background: $lime-green;
      }
    }

    &.open {
      > span:first-child {
        transform: rotate(45deg);
      }
      > span:nth-child(2) {
        opacity: 0;
      }
      > span:last-child {
        transform: rotate(-45deg);
      }
    }
  }

  &__links {
    display: flex;
    gap: 3.2rem;

    > a {
      position: relative;
      display: block;
      font-size: $text-small;
      color: $grayish-blue;

      &::after {
        transition: all 0.2s;
        opacity: 0;
        content: '';
        height: 2px;
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 50%;
        background-image: $primary-gradient;
      }

      &:hover {
        color: $dark-blue;
        &::after {
          opacity: 1;
        }
      }
    }

    @include if-size-is-less-than(md) {
      position: absolute;
      top: 10.4rem;
      right: 2.4rem;
      left: 2.4rem;
      flex-direction: column;
      background-color: white;
      padding: 2.4rem;
      gap: 2rem;
      align-items: center;
      border-radius: 2px;
      > a {
        color: $dark-blue;
      }

      transition: all 0.2s;
      opacity: 0;
      transform: translateY(-100%);
      pointer-events: none;
    }
    &.show {
      opacity: 1;
      transform: translateY(0);
      pointer-events: all;
    }
  }

  &__cta {
    border: none;
    // border-radius: 5rem;
    border-radius: map-get($map: $breakpoints-down, $key: sm);
    background-image: $primary-gradient;
    color: white;
    font-weight: 700;
    font-size: $text-small;
    cursor: pointer;
    padding: 1.4rem 3.4rem;

    transition: opacity 0.2s;

    &:hover {
      opacity: 0.8;
    }
  }
}
